.comment{
    border: 1px solid green;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}